<h2>Authorize @<%= @bot %></h2>

<p><b>Make sure you are logged into Twitter as the correct account.</b></p>
<p>Visit <a href="<%= @bot.authorize_url %>"><%= @bot.request_token_oauth.authorize_url %></a> to authorize.</p>